.navbar {
  background-color: #721D13;
  position: fixed;
  width: 100%;
  height: auto;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  text-align: left;
  float: left;
}

.nav-logo {
  display: inline-block;
  float: left;
}

.nav-item {
  display: inline-block;
  margin: 0 10px;
}

.nav-item a {
  color: #FFBD00;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-item a:hover {
  background-color: #89251A;
}